---

---

<nav class="pt-3 px-3 sticky top-0 pb-3 backdrop-blur-xl bg-zinc-900/75 border-b border-zinc-800 items-center">
        <div class="flex flex-row justify-between md:max-w-3xl mx-auto">
            <div>
                <a href="/"><img src="/logo.png" width="35px" height="35px"></a>
            </div>
        
            <div class="flex flex-row gap-5">
                <ol class="flex flex-row gap-3">
                </ol>
                <!-- Theme Toggle -->
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24"><path fill="currentColor" d="M13.1 23q-2.1 0-3.937-.8t-3.2-2.163Q4.6 18.675 3.8 16.837T3 12.9q0-3.65 2.325-6.438T11.25 3q-.45 2.475.275 4.838t2.5 4.137q1.775 1.775 4.138 2.5T23 14.75q-.65 3.6-3.45 5.925T13.1 23Z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none">
                    <path d="M4 18L20 18" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
                    <path d="M4 12L20 12" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
                    <path d="M4 6L20 6" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
</nav>