.main p {
    margin-top: 0;
}

.links {
    padding-left: 0;
    list-style-type: none;
}

.link {
    display: flex;
    gap: 5px;
    color: #494949;
    list-style-type: none;
    align-items: center;
}


.link p {
    margin: 3px;
}
.link .icon {
    margin-top: 0px;
}
