.container {
    padding-top: 50px;
    padding-bottom: 15px;
    border-bottom: #c3cacc solid 1px;
}

.container p {
    line-height: 20px;
    margin-top: 0;
}

.heading {
    margin-block: 0;
}

.link-container {
    display: flex;
    gap: 50px;
}

.link a {
    display: flex;
    align-items: center;
    color: #494949;
}

.link a:hover {
    text-decoration: none;
    cursor: pointer;
}

.link p {
    margin: 0;
    margin-left: 10px;
}