.container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
}

.navlinks h2 {
    margin-top: 0;
    margin-left: 25px;
    cursor: pointer;
}

.navlinks h2:hover {
    text-decoration: underline;
}