.maincontain {
    display: flex;
    align-items: center;
}

.maincontain p {
    flex: 75%;
}

.img {
    opacity: 100%;
}

.skills {
    width: 100%;
    margin-bottom: 25px;
}

.row {
    display: flex;
    gap: 5px;
}

.skill {
    flex: 50%;
    border: #c3cacc solid 1px;
    background-color: #f4fcff;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    margin-bottom: 5px;
    transition: scale 0.1s;
}

.skill:hover {
    scale: 1.05;
}

@media (max-width: 430px) {
    .img {
        display: none;
    }
    /* … */
  }