.container {
    border-radius: 11px;
    background-color: #FAFEFF;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 25px;
    display: flex;
    padding: 20px 20px;
    align-items: center;
}

.section-left {
    width: 75%;
}

.section-right {
    width: 100%;
}

.section-right h3, .section-right p {
    margin: 0;
}

.section-right h3 {
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: #c3cacc solid 1px;
}

.section-right p {
    margin-top: 10px;
}

.project-text {
    padding-bottom: 20px;
}

.project-links {
    display: flex; 
    align-items: center;
}

.link {
    display: flex; 
    align-items: center;
    text-decoration: none;
    color: #494949;
    margin-right: 10px;
}

.link p {
    margin-top: 0;
}


.link:hover {
    text-decoration: none;
    cursor: pointer;
}