.flex {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin-top: 2px;
    margin-left: 5px;
}

.heading {
    font-weight: 700;
}